In [2]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/normanrobinson/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [4]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')
slide_element = news_soup.select_one("ul.item_list li.slide")

In [6]:
slide_element.find("div", class_="content_title")

In [7]:
news_title = slide_element.find("div", class_="content_title").get_text()
print(news_title)

Salts Could Be Important Piece of Martian Organic Puzzle

In [8]:
news_p = slide_element.find("div", class_="article_teaser_body").get_text()
print(news_p)

A NASA team has found that organic, or carbon-containing, salts are likely present on Mars, with implications for the Red Planet's past habitability.

In [9]:
browser.quit()

In [20]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://spaceimages-mars.com/"
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/normanrobinson/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [21]:
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [29]:
 browser.links.find_by_partial_text('FULL IMAGE').click()

In [40]:
featured_img_url = 
print(featured_img_url)

In [33]:
browser.quit()

In [40]:
mars_facts = pd.read_html("https://galaxyfacts-mars.com/")
print(mars_facts)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [41]:
mars_facts_df = mars_facts[0]
mars_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [42]:
mars_facts_df.reset_index(inplace=True)
mars_facts_df.columns=["ID", "Properties", "Mars", "Earth"]
mars_facts_df

   ID               Properties             Mars            Earth
0   0  Mars - Earth Comparison             Mars            Earth
1   1                Diameter:         6,779 km        12,742 km
2   2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3   3                   Moons:                2                1
4   4       Distance from Sun:   227,943,824 km   149,598,262 km
5   5          Length of Year:   687 Earth days      365.24 days
6   6             Temperature:     -87 to -5 °C      -88 to 58°C